/* NAVBAR CSS */
.bg-body-tertiary{
    background: linear-gradient(to bottom, #01579B, #fdfdfd);
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow styling */
    transition: top 0.5s;
}

.text-navbar{
    display: inline-block;
    transition: transform 0.2s, font-size 0.2s;
    color: black;
    
}

.text-navbar:hover {
    color: #ffffff; /* Cambiar el color del texto */
    transform: translateY(-5px); /* Subir el botón 5px */
    font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
  }

  
.navbar-brand{
    font-size: 1.5rem !important;
}
/* BANNER_INICIO CSS */
.banner-inicial {
    width: 100%; 
    height: 20rem; 
    background: url('src/assets/circuito.png') center/cover no-repeat; 
    color: #fff; /* Color del texto */
  }
  
.texto-banner {
    position: relative;
    margin-left: 25rem;
    width: fit-content;
    max-width: 300px;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: black;
  }

.centrado{
    text-align: center;
}

.justificado{
    text-align: justify;
    padding: 1rem;
}

/* DESC-LAB CSSS*/

.texto-lab{
    margin-left: 20px;
    max-width: 600px;
}

.imagen-lab{
    background-color: black;
    margin-left: 5rem;
}
.desc-lab{
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.desc_lab_center{
    align-items: center;
}

/*INICIO*/
/*card_ayudante*/
.card-wrapper{
 padding: 80px;   
}

.card-gen{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 42%;
    width: 100%;
    background-color: lightblue;
    border-radius: 25px 25px 0 25px;
}

.overlay-img::before,
.overlay-img::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;    
    background-color: lightblue
    
}

.overlay-img::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid blue;
}

.nombre{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.descripcion{
    font-size: 14px;
    color: gray;
    text-align: center;
}

.boton_view{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #01579B;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.boton_view:hover{
    background: blue;
}

.carrusel_ayudantes_margin{
    margin: 50px;
}

/*carrusel_incio*/
.Slider{
    max-height: 400px;
}

.Slider_margin{
    margin-left: 100px;
    margin-right: 100px
}

/**/
.que_hacemos{
    text-align: center;
    margin: 30px;
}

.que_hacemos p{
    margin-left: 15%;
    margin-right: 15%;
}


/*LOGIN*/
.container_login{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color: white;
    padding-bottom: 30px;
    border: black;
    border-width: 6px;
}

.header_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text_login{
    color: #01579B;
    font-size: 48px;
    font-weight: 700;
}

.underline_login{
    width: 61px;
    height: 6px;
    background: #01579B ;
    border-radius: 9px;
}

.input_login{
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 480px;
    border-radius: 6px;
    background: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.inputs_login{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input_login input{
    height: 50px;
    width: 400px;
    margin: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 19px;
}

.input_login img{
    margin: 20px;
}

.forgot-password_login{
    padding-left: 62px;
    margin-top: 27px;
    color: gray;
    font-size: 18px;
}

.forgot-password_login span{
    color: #01579B;
    cursor: pointer;
}

.submit-container_login{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    columns: #fff;
    background: #01579B;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;
    color: white;
    cursor: pointer;
    border-color: #01579B;
    border-style: solid;
    border-width: 6px;
}

.gray_login{
    background: white;
    color: rgb(0, 0, 0);
}

/*ACTIVIDADES*/
.actv-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    font: 'roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actv-card{ 
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}

.actv-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.actv-desc{ 
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.435);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.actv-card:hover .actv-desc{
    right: 0;
}


.act-title{ 
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.act-subtitle{ 
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.act-info{ 
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0 ;
    font-weight: 400;
}

.act-button{ 
    color: #01579B;
    background: aqua;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
}


/*----------HOME--------------*/
/*----------ABOUT--------------*/

img{
    width: 250px;
    height: 250px;
    vertical-align: middle;
}

.col-about{
    text-align: center;
}

/*----------ABOUT--------------*/

.formulario-r{
    margin: 10rem;
}