section{
    color: rgb(0, 96, 179);
    text-shadow: 3px 3px black;
    background-color: rgb(8, 154, 154);
    height: 100vh;
}

.Slider{
    max-height: 200px;
}

.Titulo{
    color: inherit;
    text-decoration: none;
    font-size: 10px;
}